.board {
    width: 400px;
    margin: auto
}

.buttons {
    width: 400px;
    margin: auto;
}

#status,#pgn,#fen {
    width: 400px;
    margin: auto
}

#l1,#l2,#l3 {
    width: 400px;
    margin: auto
}
